.home {
    font-family: Arial, sans-serif;
    color: var(--text-primary);
    background-color: var(--background-primary);
    padding: 20px;
    transition: color 0.3s, background-color 0.3s;
}

.product-cards {
    margin-top: 30px;
}

.card-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


.app-main {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .app-filters {
    flex: 1;
    max-width: 300px;
  }
  
  .app-products {
    flex: 3;
  }
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .app-main {
      flex-direction: column;
    }
  
    .app-filters {
      order: 2;
    }
  
    .app-products {
      order: 1;
    }
  }
  
